<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= message %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body> 

<p></p>

<div class="card text-bg-dark w-50 mx-auto">
  <div class="card-img-overlay">
    <h5 class="card-title bg-white bg-opacity-25"  ></h5>
    <blockquote class="card-text">
      <%=
        idezet.quote
        %>
    </blockquote>
    
    <p class="card-text"><small>Author: <%= idezet.author %></small></p>
  </div>
  <img src="<%= idezet.img %>" class="rounded w-50 mx-auto mt-1">
  </div>
    
</body>
</html>
